.home-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 60px;  /* altura da navbar */
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  .banner {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    text-align: left;
    padding: 20px 40px;
  }
  
  .overlay-text h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color: #ff8000;
  }
  
  .overlay-text p {
    padding-left: 50px;
    font-size: 30px;
  }
  
  .cursos h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .cursos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  
  
  
  .cartao-curso {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .cartao-curso img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cartao-curso h3 {
    font-size: 1rem;
    margin-top: 10px;
    color: #ff8000;
  }
  
  .cartao-curso p {
    font-size: 0.9rem;
    color: #555;
  }
  
  
  /* Tablet */
  @media (max-width: 1024px) {
    .cursos-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Mobile */
  @media (max-width: 600px) {
    .cursos-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }