.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: transparent;
  z-index: 100;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-btn i {
  font-size: 16px;
  color: #333;
}